sunshine_name = Kali Lab
capture = x11
output_name = 0
encoder = software
sw_preset = veryfast
sw_tune = zerolatency
hevc_mode = 1
av1_mode = 1
upnp = disabled
address_family = ipv4
origin_web_ui_allowed = pc
lan_encryption_mode = 2
wan_encryption_mode = 2
controller = disabled
system_tray = disabled
min_log_level = info
ping_timeout = 10000
file_apps = /home/jeremy/.config/sunshine/apps.json
file_state = /home/jeremy/.config/sunshine/sunshine_state.json
credentials_file = /home/jeremy/.config/sunshine/credentials.json
log_path = /home/jeremy/.config/sunshine/sunshine.log
